*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #d6e2e9;
}

#app{
    height: auto;
    max-height: 400px;
    width: 300px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 30px;
}

#app .title
{
    text-align: center;
    margin: 30px 0;
    color: #008c72;
    font-size: 22px;
}

#app #searchBox
{
    height: 40px;
    width: 100%;
    background: #f3f3fd;
    display: flex;
    flex-direction: row;
    border-radius: 70px;
    overflow: hidden;
    border: 1px solid #00bc6230;
}

#app #searchBox input[type='text']{
    height: 100%;
    width: 220px;
    padding: 0 15px;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
    font-size: 12px;
}

#app #searchBox input[type='text']::placeholder
{
   color: #000;
}

#app #searchBox #search
{
    height: 100%;
    width: 40px;
    background: #008c72;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: pointer;
    color: #f3f3fd;
    border-radius: 50%;
}

#app #searchBox #search
{
    background: linear-gradient(#008c72, #00bc62);
}

#data
{
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 230px;
    overflow-y: scroll;
}

#data .impo
{
    font-size: 12px;
    color: #008c72;
}

#data #error span
{
    color: #008c72;
}

#data .detail
{
    height: auto;
    width: 100%;
    padding: 10px;
    background: #f3f3fd;
    border-radius: 10px;
    border: 1px solid #00bc6230;
    margin: 5px 0;
    position: relative;
}

#data .detail h3{
    color: #008c72;
}

#data .detail p
{
    font-size: 12px;
    margin: 4px 0;
}

/* change the scroll bar */
#data::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
#data::-webkit-scrollbar-thumb
{
   height: 30px;
   background: linear-gradient(#008c72, #00bc62);
   border-radius: 60px;
}